package styles

templ Global() {
	<link rel="stylesheet" href="/public/vendor/prism/prism.css"/>
	<link rel="stylesheet" href="/public/app.css"/>
	<link rel="stylesheet" href="/public/output.css"/>
}
