package templates
import "app.pacuare.dev/components/importmap"
import "app.pacuare.dev/components/styles"

templ layout(title string, alpineData string) {
	<!doctype html>
	<html>
		<head>
			<title>{ title }</title>
			@styles.Global()
			@importmap.ImportMap()
		</head>
		<body class="h-screen min-h-screen max-h-screen">
			<main x-data={alpineData}>
			{ children... }
			</main>
		</body>
	</html>
}
