div[data-controller="editor"] {
    flex: 1;
    position: relative;
    resize: both;
    min-height: 100px;

    textarea {
        position: absolute;
        font-family: monospace;
        background-color: transparent;
        top: 0;
        z-index: 0;
        height: 100%;
        width: 100%;
        resize: none;
        font-size: 14pt;
        color: transparent;
        padding: 4px;
    }

    pre {
        position: absolute;
        pointer-events: none;
        font-family: monospace;
        top: 0;
        z-index: 1;
        font-size: 14pt;
        margin: 0;
        padding: 4px;
    }

    select {
        position: absolute;
        bottom: 5px;
        right: 5px;
    }
}
